.circle-mask {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid gray;
}

.circle-mask img {
  width: 175%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -33%);
}

.header {
  align-items: center;
  margin: 5% auto;
  background-size: 16px 16px;
}

.header-body {
  margin-top: 5%;
}

.timeline-column {
  margin-top: 5vh;
}

.timeline-wrapper {
  margin: 0% auto 5% auto;
  overflow-y: scroll;
  height: 90vh;
  border: 0px solid #e1e1e1;
}

.timeline {
  padding: 10px;
}

.post {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.post-content {
  flex: 3;
}

.post-image {
  flex: 1;
  max-width: 25%;
  overflow: hidden;
  margin-left: 10px;
}

.post-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
    display: inline;
}

.post-tags {
  font-size: 14px;
  margin-left: 5px;
  display: inline;
}

.tag-text {
  font-family: Arial;
}

.tag {
  display: inline-block;
  background-color: #cd9c9c;
  color: #333;
  padding: 0px 4px;
  margin-right: 5px;
  border-radius: 5px;
}

.post-message {
    font-size: 14px;
    padding-top: 8px;
}

.timeline-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.tag-button {
  background-color: none;
  color: #333;
  padding: 0px 4px;
  border: 3px solid;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  cursor: pointer;
  box-shadow: none;
}

.tag-button.active {
  border: 3px solid;
}

body {
  font-family: 'Noto Serif', 'Cambria', 'Times New Roman', serif;
  background-color: white;
  background-image: linear-gradient(90deg, rgba(128, 128, 128, 0.15) 0.3px, transparent 0.3px),
                    linear-gradient(180deg, rgba(128, 128, 128, 0.15) 0.3px, transparent 0.3px);
  background-size: 16px 16px;
}

h1 {
  font-size: 42px
}

p {
  font-size: 16px;
  line-height: 20px;
}

li {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0 -16px;
}