.circle-mask {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid gray;
}

.circle-mask img {
  width: 175%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -33%);
}

.header {
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.col-sm-6 {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.card-holder {
  margin-top: 24px;
}

.card {
  border: 1px solid gray;
  border-radius: 5px;
  background: rgb(231, 231, 231);
}

.card-holder{
  margin-bottom: 36px;
}

body {
  font-family: 'Noto Serif', 'Cambria', 'Times New Roman', serif;
  background-color: white;
  background-image: linear-gradient(90deg, rgba(128, 128, 128, 0.15) 0.3px, transparent 0.3px),
                    linear-gradient(180deg, rgba(128, 128, 128, 0.15) 0.3px, transparent 0.3px);
  background-size: 16px 16px;
}

h1 {
  font-size: 42px
}

p {
  font-size: 16px;
  line-height: 20px;
}

li {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0 -16px;
}